<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="urn:iso.org:standard:10303:part(28):version(2):xmlschema:common"
            class="org.iso.standard._10303.part._28.version._2.xmlschema.common.CommonPackage"
            genModel="model/IFC2X3.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="common"
            class="org.iso.standard._10303.part._28.version._2.xmlschema.common.util.CommonResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.iai-tech.org/ifcXML/IFC2x3/FINAL"
            class="org.tech.iai.ifc.xml.ifc._2x3.final_.FinalPackage"
            genModel="model/IFC2X3.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="final"
            class="org.tech.iai.ifc.xml.ifc._2x3.final_.util.FinalResourceFactoryImpl"/>
   </extension>

</plugin>
