<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///buildingsmart.ifc.ecore"
            class="ifc2x3tc1.Ifc2x3tc1Package"
            genModel="model/models.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="store"
            class="store.StorePackage"
            genModel="model/models.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="log"
            class="log.LogPackage"
            genModel="model/models.genmodel"/>
   </extension>

</plugin>
