<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pipes.presentation.PipesModelWizardID"
            name="%_UI_PipesModelWizard_label"
            class="pipes.presentation.PipesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PipesModelFile.gif">
         <description>%_UI_PipesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="pipes.presentation.PipesEditorID"
            name="%_UI_PipesEditor_label"
            icon="icons/full/obj16/PipesModelFile.gif"
            extensions="pipes"
            class="pipes.presentation.PipesEditor"
            contributorClass="pipes.presentation.PipesActionBarContributor">
      </editor>
   </extension>

</plugin>
